
.add-page{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding:30px 16px 30px 16px;
}
.add-form{
  border:solid 1px lightgray;
  background-color: white;
  box-shadow: 2px 2px 10px #0005;
  border-radius: 8px;
  padding:32px;
  width: 100%;
  max-width: 600px;
  display: flex;
  flex-direction: column;

}
.title{
  font-weight: 800;
  font-size: 2rem;
  margin-bottom: 2rem;
  text-align: center;
}
.input-wrap{
  margin-bottom: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
  flex-wrap: wrap;
  width:100%;
}
.input-field{
  width:350px;
  outline: none;
  border-radius: 3px;
  border:solid 1px lightgray;
  height:32px;
  padding:5px 10px;
}
.input-image-wrap{
  display: flex;
  flex-direction: column;
  gap:5;
  margin-bottom: 16px;
  align-items: center;
}
.input-img{
  width:100%;
  outline: none;
  border-radius: 3px;
  border:solid 1px lightgray;
  height:32px;
}
.book-img{
  width:300px;
  height:420px;
  border:1px solid lightgray;
  box-shadow: 0 0 10px #0004;
}

.btn-submit{
  outline:none;
  border-radius: 8px;
  padding:10px 20px;
  color:white;
  transition:all 0.3s;
  background-color: rgb(48, 180, 92);
  border:none;
  margin:auto;
}
.btn-submit:hover{
  background-color:rgb(25, 110, 54);
  box-shadow: 0 0 10px rgba(48, 180, 92,0.4)
}